*{
    margin: 0;
    padding: 0;
    /* Editing box er bahire jabena, box er moddhei hobe: box sizing */
    box-sizing: border-box;
}

/* shared style */

.font-open-sana {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A;
    font-weight: 900;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
 
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}